version: 2
updates:
  - package-ecosystem: github-actions
    directory: action
    schedule:
      interval: weekly

  - package-ecosystem: npm
    directory: cli
    schedule:
      interval: weekly
    ignore:
      - dependency-name: "chalk"
        # chalk 5.x is pure esm and does not work with tests
        versions: [ "5.x" ]

  - package-ecosystem: npm
    directory: docs
    schedule:
      interval: weekly
