---
version: 1
enabled: true
tasks:
  jest-coverage:
    metadata:
      name: Jest Coverage
    static_hosting:
      path: coverage/lcov-report
  docs:
    metadata:
      name: Documentation
    static_hosting:
      path: docs/build
  job_runtime:
    metadata:
      name: Job Runtime
    job_runtime:
