---
version: 1
enabled: true
plugins:
  job_runtime:
    enabled: true
  static_hosting:
    test_coverage_action:
      metadata:
        name: Action Test Coverage
      path: action/coverage/lcov-report
    test_coverage_action_single_file:
      metadata:
        name: Action Test Coverage (single file)
      path: action/coverage/lcov-report/index.html
    test_coverage_cli:
      metadata:
        name: CLI Test Coverage
      path: cli/coverage/lcov-report
    docs:
      metadata:
        name: Documentation
      path: docs/build
  image_diff:
    compare_logo_image:
      metadata:
        name: Logo
      path: docs/static/img/logo-128.png
      baseline: https://stoat-dev--static.stoat.page/branding/128.png
