name: Test CLI
on:
  pull_request:
    branches:
      - main
    paths:
      - 'cli/**'
  push:
    branches:
      - main
    paths:
      - 'cli/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Setup cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ github.workspace }}/cli/node_modules
          key: ${{ runner.os }}-node-16-${{ hashFiles('package-lock.json') }}
      - name: Install dependencies
        run: |
          npm install
      - name: Build and test stoat action
        run: |
          npm run build
          npm run test
      - name: Run Stoat Action
        uses: ./
        if: always()
