name: Test CLI
on:
  pull_request:
    branches:
      - main
    paths:
      - 'cli/**'
      - '.stoat/**'
      - '.github/workflows/test-cli.yaml'
  push:
    branches:
      - main
    paths:
      - 'cli/**'
      - '.stoat/**'
      - '.github/workflows/test-cli.yaml'

defaults:
  run:
    working-directory: cli

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: Setup cache
        uses: actions/cache@v4
        with:
          path: |
            ${{ github.workspace }}/types/node_modules
            ${{ github.workspace }}/action/node_modules
            ${{ github.workspace }}/cli/node_modules
          key: ${{ runner.os }}-node-20-cli-${{ hashFiles('types/yarn.lock') }}-${{ hashFiles('action/yarn.lock') }}-${{ hashFiles('cli/yarn.lock') }}
      - name: Install types dependencies
        working-directory: types
        run: |
          yarn install --frozen-lockfile
      - name: Install action dependencies
        working-directory: action
        run: |
          yarn install --frozen-lockfile
      - name: Install cli dependencies
        run: |
          yarn install --frozen-lockfile
      - name: Check code
        run: |
          yarn lint
          yarn format-check
      - name: Build and test stoat cli
        run: |
          yarn build
          yarn test
      - name: Run stoat action
        uses: ./
        if: always()
